// color
$primary-color: #070707; //$blue !default;
$warning-color: #eb2521; //$yellow !default;
$danger-color: #8b1515; //$red !default;
$light-color: #e5e5e5; //$gray-100 !default;
$dark-color: #848484; //$gray-800 !default;
//font-size
$base-font-size: 20px;
$font-size: 30px;


